/* Soluzione qui */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  #topbar {
    justify-content: flex-start;
  }

  main {
    padding: 50px;
  }

  header .recipe-title .recipe-origin {
    display: contents;
  }

  main .recipe-title {
    font-size: 1rem;
  }

  .recipe-info .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0px 29px;

  }

  .btn {
    padding: 10px 47px;
    align-items: center;
    margin-bottom: 20px;
  }

  .ads {
    display: contents;
  }

  .clearfix img {
    float: left;
  }
}

@media screen and (min-width: 992px) {

  .container {
    width: 100%;
  }

  main .recipe-title {
    font-size: 2rem;
  }
}